<!-- FILEPATH: /Users/kailindholm/Documents/Fall 2023/SenDesign/senior-design-lab03/team-portfolio/app/views/pages/index.html.erb -->
<!-- Background image -->
<% content_for :title, "Team Portfolio" %>

<div id="team-card" class="p-5 text-center bg-image">
    <div class="mask">
      <div class="text-white">
        <h1 class="mb-3">Ctrl-Alt-Delete - Team 13</h1>
        <h5 class="mb-4">
          Take a look around and see what we have been up to!
        </h5>
      </div>
    </div>
</div>

<div id="meet-action"class="p-4 shadow-4 rounded-3">
  <h2>Meet the team!</h2>
</div>

<div class="headshot-container">
  <div class="row">
    <div class="col-md-3 player-card">
      <h3> Kai Lindholm </h3>
      <%= image_tag("kai-headshot.jpg", class: "img-fluid") %>
      <p></p>
    </div>
    <div class="col-md-3 player-card">
      <h3> Gustav Champlin </h3>
      <%= image_tag("gustav-headshot.jpg", class: "img-fluid") %>
    </div>
    <div class="col-md-3 player-card">
      <h3> Joe Shanks </h3>
      <%= image_tag("joe-headshot.jpg", class: "img-fluid") %>
    </div>
    <div class="col-md-3 player-card">
      <h3> James Ostrowski </h3>
      <%= image_tag("james-headshot.jpg", class: "img-fluid") %>
    </div>
  </div>
</div>
<hr>

<%= render 'layouts/team_projects' %>