<% content_for :title, "James's Portfolio" %>
<div class="profile-container bg-white shadow-md rounded-md mt-10 p-8">
      <h1 class="text-3xl font-bold mb-4 text-left  ">James's Portfolio</h1>

<div class="flex">
    <div class="w-1/4">
        <%= image_tag("james-headshot.jpg", alt: "James's Headshot", class: "w-full h-auto shadow-lg") %>
        <div class="social-links mt-6 flex-wrap">
            <h2 class="text-2xl">Connect with me</h2>
            <%= link_to "LinkedIn", "https://www.linkedin.com/in/james-ostrowski-51b145252/", class: "block mb-2 fab fa-linkedin", target: "_blank"%>
            <%= link_to "Github", "https://github.com/JamesOstrowski21", class: "block mb-2 fab fa-github", target: "_blank"%>
        </div>
    </div>

    <div class="flex-wrap w-1/4 p-4">
        <h3 class="text-2xl sm:text-xl xs:text-lg mb-4 font-bold mt-4">Bio</h3>
        <p class="mt-2">I am pursing a Computer Science and Engineering degree at the University of Iowa with a focus on software engineering.
        During my time here I had the opportunity to complete an internship with Northrop Grumman. I worked as a software engineer for Mission System
        in Rolling Meadows, IL. I provided execel integration for a MDFG (mission data file generate) which was an upgrade for an existing application 
        currently used by different branches of the U.S. Military. I learned a C++ frameowrk called QT and obtained experience with Agile Developement.  </p>
    </div>
    <div class="flex-wrap w-1/4 p-4">
        <h3 class="text-2xl sm:text-xl xs:text-lg mb-4 font-bold mt-4">Hobbies</h3>
        <p class="mt-2">Outside of school I spend most of my time at work or at the gym. I currently work in the lumber yard at Menards on weekends and during
        the week I continue to work for Northrop Grumman remotely while I finish my degree.</p>
    </div>
</div>

</div>
    <h2 class="text-2xl mt-6 mb-4 text-center">Project Highlights</h2>
<div class="grid grid-cols-3 gap-4">    
    <div class="bg-white p-4 shadow-md">
        <h3 class="text-xl font-bold mt-4">MarketPlace Web Application</h3>
        <p class="mt-2">Web application for a buying and selling marketplace. Similar to Ebay, Facebook marketplace and craigslist our web app will allow for the posting and purchasing of product from users. We will take a commission  from each sale as well as a paid promotion page.</p>
        <p class="mt-2"> Skill/Components: Agile development process, Docker, Ruby, Rails, PostgresSQL, SQLite, Heroku deployment, Rspec testing, Cucumber testing, SimpleCov coverage, Pivotal Tracker.</p>
        
    </div>
    <div class="bg-white p-4 shadow-md">
        <h3 class="text-xl font-bold mt-4">Electronic Health Record Web Applicattion</h3>
        <p class="mt-2">Web Application to service a health care facility. Multi-user functionality between patients, employees and administrators to complete tasks common to each roll.</p>
        <p class="mt-2">Skills/Components: SpringBoot, Java programming language, MySQL Database, MVC architecture, Agile development process, Jira</p>
        
    </div>
    <div class="bg-white p-4 shadow-md">
        <h3 class="text-xl font-bold mt-4">Smart Thermostat</h3>
        <p class="mt-2">Implementation of a smart thermostat IOT device with a user web application. Microcontroller reads temperature data from a temperature sensor and send it to the application via a web server. On the web application a user can set a min and max value for them to receive text notifications if the temperature exceeds or goes below those set values. The user can also view a temperature over time graph and switch between Fahrenheit and Celsius. </p>
        <p class="mt-2">Skills/Components: Esp32 microcontroller, temperature sensor, node.js, JavaScript, Docker, PostgresSQL, C++, Jira.</p>
    </div>
</div>

<div class="flex flex-wrap w-1/4 items-center justify-center p-4 max-w-md mx-auto space-y-4 mt-8 max-h-80 overflow-y-auto" id="comments">
    <%= render @comments %>
</div>

<%= render 'comments/form', page_name: 'james' %>