<div class="max-w-md mx-auto">
    <%= form_for(Comment.new, url: create_comment_path) do |f| %>
        <%= f.hidden_field :page, value: page_name %>
    
        <div class="mx-w-md mx-auto mt-4">
        <%= f.label :content, 'Leave a Comment', class: 'block text-2xl font-semibold' %>
        <%= f.text_area :content, class: 'w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400' %>
        </div>
    
        <div class="mx-w-md mx-auto mt-4">
        <%= f.submit 'Post Comment', class: 'px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600' %>
        </div>
    <% end %>
</div>  