<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <!-- Navbar -->
  <%= render 'layouts/navigation' %>  
</header>

<body>
  <%= render 'layouts/flash' %>
  <%= yield %>
</body>

<footer>
  <%= render 'layouts/footer' %>
</footer>
</html>
